langchain
langchain-groq
langchain-google-genai
langchain-mcp-adapters
langchain-community
langchain-experimental
langchain-google-community[places]
langchain_tavily
langgraph
pydantic
requests
fastapi
python-dotenv
streamlit
uvicorn
PyYAML
httpx
-e .